* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif; /* Poppins font */
}

body {
    background-color: #a9a3ff; /* Blueish purple background color */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    max-width: 400px;
    padding: 20px;
    background-color: #e5dbff; /* Lighter purple background color */
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.forgot-password-form {
    text-align: center;
}

.forgot-password-form h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.forgot-password-form p {
    font-size: 14px;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 20px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#btn {
    width: 30%;
    padding: 12px;
    background-color: #800080; /* Purple button color */
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#btn:hover {
    background-color: #4b0082; /* Darker purple button color on hover */
}
